* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  font-family: poppins;
}

/* carousel */
.carousel {
  position: relative;
  border-bottom: 6px solid #e3e82e;
  margin-top: 70px;
}
.teks-carousel {
  position: absolute;
  font-size: 0.6em;
  color: #4fb03f;
  top: 74%;
  z-index: 1;
}
.teks-carousel h3 {
  font-size: 1.3em;
  color: white;
  margin-top: -10px;
}
.gradasi {
  position: absolute;
  width: 100%;
  height: 100px;
  top: 62%;
  background: linear-gradient(0deg, #000 0%, #000 35%, rgba(0, 0, 0, 0.95) 50%, rgba(0, 0, 0, 0.85) 60%, rgba(0, 0, 0, 0.65) 75%, rgba(0, 0, 0, 0.35) 90%, rgba(0, 0, 0, 0) 99%);
}
/* Akhir Carousel */


/* Kegiatan */
.kegiatan {
  background-color: #000;
  color: white;
  position: static;
  z-index: -1;
  padding: 30px 0 40px;
  border-bottom: 6px solid #4fb03f;
}
.kegiatan h2{
  font-size: 1.3em;
  font-weight: bold;
}

.garis {
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(240, 248, 255, 0.7);
}
.overlay{
  display: block;
  width: 100%;
  height: 50%;
  position: absolute;
  z-index: 1;
  top: 0;
  background: linear-gradient(0deg, #000 0%, #000 35%, rgba(0, 0, 0, 0.95) 50%, rgba(0, 0, 0, 0.85) 60%, rgba(0, 0, 0, 0.65) 75%, rgba(0, 0, 0, 0.35) 90%, rgba(0, 0, 0, 0) 99%);
  opacity: .4;
  transform: rotate(180deg);
}
.image_desc{
  position: absolute;
  top: 5%;
  left: 5%;
  color: white;
  z-index: 3;
}
.image_desc h3{
  margin-top:-15px ;
  font-size: .7em;
  font-weight: 700;
  margin-bottom: -6px;
}
.image_desc span{
  font-size: .6em;
  font-weight: 100;
}
.image_desc p {
  color: #edc331;
  font-size: .6em;
  font-weight: bold;
}
/* Slider Image */
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.slider {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  z-index: 2;
}
.slides {
  width: 500%;
  display: flex;
}
.slides input {
  display: none;
}
.slidy {
  width: 20%;
  transition: 2s;
  position: relative;
}
.slidy img {
  width: 100%;
}
.navigation-manual {
  position: absolute;
  width: 100%;
  left: 0;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}
.manual-btn {
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.manual-btn:not(:last-child) {
  margin-right: 20px;
}
.manual-btn:hover {
  background-color: antiquewhite;
}
#radio12:checked ~ .first {
  margin-left: 0;
}
#radio22:checked ~ .first {
  margin-left: -20%;
}
#radio32:checked ~ .first {
  margin-left: -40%;
}
#radio42:checked ~ .first {
  margin-left: -60%;
}
/* AKHIR SLIDE */
.hiasan {
  display: none;
}
/* Akhir Kegiatan */

/* Ragam */
.ragam {
  color: black;
  padding: 30px 0;
  border-bottom: 6px solid #edc331;
}
.ragam h2{
  font-size: 1.3em;
  font-weight: bold;
}
.ragam h4{
  margin-top: -10px;
  font-size: 1.3em;
}
.ragam .p{
  font-size: 1em;
  color: #3c922e;
  font-weight: 600;
  letter-spacing: 0.8px;
}
.ragam .garis {
  background-color: rgba(107, 105, 105, 0.8);
}
.green{
  border-bottom: 6px solid #4fb03f;
}
.link{
  width: 100px;
  height: 30px;
  border: none;
  outline: none;
  font-size: .7em;
  background-color:#4fb03f;
  transition: .5s;
  margin-top: -2px;
}
.link:hover{
  background-color: #3c922e;
  transition: .5s;
}
/* Akhir Ragam */

/* Galery */
.gallery {
  color: white;
  background-color: #000;
  padding: 30px 0;
  border-bottom: 6px solid #6ffd32;
}
.gallery h2{
  font-size: 1.3em;
  font-weight: bold;
}
.gallery h2::after{
  content: '';
  display: block;
  width: 100%;
  margin-top: 10px;
  border-bottom: 5px;
  border-bottom: 3px solid #edc331;
}
.maindiv{
  display: block;
  background-image: url(../Gambar/acara/milad/qiroat_ll.jpeg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 250px;
  animation: slider 26s infinite;
  border-radius: 5px;
  box-shadow: 2px 1px 10px rgba(255, 255, 255,.9)
}
@keyframes slider {
  25%{background-image: url(../Gambar/qasidah/red2.jpeg);}
  50%{background-image: url(../Gambar/acara/milad/santri_putra.jpeg);}
  75%{background-image: url(../Gambar/tari/tari\ adat.jpg);}
}
/* Akhir Gallery */

/* Kunjungi */
.kunjungi{
  padding: 30px 0;
  position: relative;
  background-color: #000;
  color: white;
}
.kunjungi h2{
  font-size: 1.3em;
  font-weight: bold;
}

.kunjungi .garis{
  margin-top: 20px;
  background-color: rgb(255, 249, 249);
  overflow: hidden;
}
.kunjungi .link{
  border: 1px solid #3c922e;
  background-color: transparent;
}
.kunjungi .link:hover{
  background-color: #3c922e;
}
.masjid{
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  opacity: 0.2;
  z-index: 1;
}

.kunjungi .gradasi {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 2;
  background: linear-gradient(0deg, #000 0%, #000 35%, rgba(0, 0, 0, 0.95) 50%, rgba(0, 0, 0, 0.85) 60%, rgba(0, 0, 0, 0.65) 75%, rgba(0, 0, 0, 0.35) 90%, rgba(0, 0, 0, 0) 99%);
}
.keterangan{
position: relative;
z-index: 2;
}
/* Akhir Kunjungi */

/* Footer */

@media (min-width:750px) {
  .carousel {
    margin-top: -60px;
  }
  .gradasi {
    height: 220px;
    top: 61.5%;
  }
  .teks-carousel {
    position: absolute;
    font-size: 1em;
    margin-left: 3%;
    top: 74%;
    z-index: 1;
  }
  .teks-carousel h3 {
    margin-top: 0px;
    font-size: 1.6em;
  }
  .hiasan {
    display: block;
  }
  .hiasan img {
    position: absolute;
    top: 80%;
    width: 26%;
    opacity: 0.7;
    z-index: 1;
  }
  .hiasan .image {
    right: 0;
  }
  .kegiatan h2,.ragam h2, .gallery h2,.kunjungi h2{
    font-size: 1.8em;
  }
  .image_desc h3{
    font-size: 1.5em;
    margin-bottom: 4px;
  }
  .image_desc p{
    font-size: 1.3em;
  }
  .image_desc span{
    margin-top: -5px;
    font-size: 1em;
  }
  
  .link{
    width: 150px;
    height: 40px;
    font-size: 1em;
  }
  .caption{
    font-size: 1.4em;
  }
}
@media (min-width:800px) {
  .hiasan img{
    top: 65%;
  }
 
}
@media (min-width:820px) {
  .hiasan img{
    top: 71%;
  }
  .teks-carousel{
    margin-left: 6%;
  }
  
}


@media (min-width: 1100px) {

  /* Awal Carousel */
  .carousel {
    margin-top: -100px;
  }
  .gradasi {
    height: 250px;
    top: 72.5%;
  }
  .teks-carousel {
    margin-left: 8%;
    top: 82%;
  }
  .hiasan img {
    top: 154%;
  }
  /* Akhir Caorusel */
  .ragam h4{
    margin-top: -6px;
    font-size: 1.4em;
  }
  /* Kegiatan Kami */
  .kegiatan,.ragam,.kunjungi,.gallery {
    padding: 50px 0;
  }
  .image_desc{
    top: 5%;
    left: 5%;
  }
  .image_desc p{
    font-size: 1em;
  }
  .image_desc h3{
    font-size: 1.8em;
  }
  .overlay{
    height: 30%;
  }
  .image_desc h2{
    margin-top:0px ;
    font-size:2em;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .image_desc span{
    font-size: 1em;
    font-weight: 100;
  }

  /* galeri */
  .maindiv{
    height: 100%;
  }

  .gallery{padding: 50px 0px 35px;}
  /* Akhir Gallery */
  .masjid{
    top: 10%;
    opacity: 0.3;
    height: 99.5%;
  }
  .masjid img{
    width: 100%;
  }
  .kunjungi .gradasi{
    display: block;
    height: 100px;
    top: 84%;
  }
 
}
@media (min-width:1300px) {
  .hiasan img{
    top: 204%;
  }
}